<!-- Наследуемся от базового шаблона -->
{% extends 'base.html' %}

<!-- блок титульника -->
{% block title %} {{category.name}} {% endblock title%}

<!-- Подгружаем Левое меню -->
{% block left_menu %} {%include 'includes/left_menu.html' %} {% endblock left_menu %}
<!-- главная часть -->
{% block main %}
<h2>{{category.name}}</h2>
<p><a href="{% url 'catalog:good_add' cat_id=category.id %}?page={{page_obj.number}}">Добавить товар</a></p>
<table>
    <tr>
        <th>Название</th>
        <th>Есть в наличии</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    {% for good in good_list %}
    <tr>
        <!-- Привязка к URL шаблону good приложения catalog -->
        {% url 'catalog:good' good_id=good.id as good_url %}

        <td><a href="{{good_url}}?page={{page_obj.number}}">{{good.name}}</a></td>
        <td class="centered">
            {% if good.in_stock %} + {% endif %}
        </td>
        <td class="centered"><a href="{% url 'catalog:good_edit' good_id=good.id %}?page={{page_obj.number}}">Изменить</a></td>
        <td class="centered"><a href="{% url 'catalog:good_delete' good_id=good.id %}?page={{page_obj.number}}">Удалить</a></td>
    </tr>
    {% endfor %}
</table>

<!-- Постраничный вывод -->
<div class="pagination">
    <div class="step-links">
        <div class="previous">
            {% if page_obj.has_previous %}
            <a href="{% url 'catalog:index' cat_id=category.id %}?page=1">&laquo; first</a>
            <a href="{% url 'catalog:index' cat_id=category.id %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        </div>
        

        <div class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </div>
        
        <div class="next">
            {% if page_obj.has_next %}
            <a href="{% url 'catalog:index' cat_id=category.id %}?page={{ page_obj.next_page_number }}">next</a>
            <a href="{% url 'catalog:index' cat_id=category.id %}?page={{ paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div> 
    </div>
</div>      
{% endblock main %}
